@import "./utils/mixins";
@import "./utils/variables";

.video-page2 {
  display: none;
  min-height: calc(100vh - 347px);
  @media screen and (max-width: $macbook) {
    margin-top: 0rem;
    min-height: calc(100vh - 331px);
  }
  @media screen and (max-width: $tablet) {
    min-height: calc(100vh - 230px);
  }
  @media screen and (max-width: $mobile) {
    min-height: calc(100vh - 133px);
  }

  .video-section {
    max-width: 86rem;
    border-radius: 1rem;
    margin: 60px auto 0;
    position: relative;

    @media screen and (max-width: $macbook) {
      margin-top: 40px;
    }

    @media screen and (max-width: $mobile) {
      margin-top: 24px;
    }

    .video-container {
      max-width: 1380px;
      height: 774px;
      margin: 0  auto ;
    
      @media screen and (max-width: 1600px) {
        max-width: 1220px;
      }
      @media screen and (max-width: $macbook) {
        height: 562px;
        max-width: 1000px;
      }
      @media screen and (max-width: 1090px) {
        max-width: 910px;
      }
      @media screen and (max-width: $tablet) {
        height: 365px;
        max-width: 650px;
      }
      @media screen and (max-width: 710px) {
        max-width: 500px;
        height: 281px;
      }
      @media screen and (max-width: 640px) {
        max-width: 490px;
      }
      @media screen and (max-width: 550px) {
        max-width: 410px;
        height: 231px;
      }
      @media screen and (max-width: $mobile) {
        max-width: 262px;
        height:148px;
      }
    
      .demo-video {
        width: 100%;
        height: auto;
        overflow: hidden;
        border-radius: 40px;
    
        @media screen and (max-width: $macbook) {
          border-radius: 35px;
          min-height: 408px;
        }
        @media screen and (max-width: $tablet) {
          border-radius: 25px;
          min-height: 231px;
        }
        @media screen and (max-width: $mobile) {
          border-radius: 15px;
          min-height: 121px;
        }
      }
    }
  }
}
.download-app-page2 {
  max-width: 1578px;
  height: 39.297rem;
  margin: 60px  auto;
  overflow: visible;
  background-image: url(/img/chess-figure-group-left.svg),
    url(/img/chess-figure-group-right.svg);
  background-repeat: no-repeat;
  background-position: left (100px) bottom, right (100px) bottom;
  
  @media screen and (max-width: $macbook) {
    height: 21.5rem;
    max-width: 1218px;
    margin: -90px auto 0;
    background-repeat: no-repeat;
    background-position: left (15px) bottom (40px) , right (15px) bottom (40px);
    background-size: 200px 310px, 200px 310px;
  }
  @media screen and (max-width: $tablet) {
    background-position: left (7px) bottom (40px), right (7px) bottom (40px);
    background-size: 140px 200px, 140px 200px;
    margin: -70px 0 0;
    height: 240px;
    max-width: 64rem;
  }
  @media screen and (max-width: $mobile) {
    background-position: left (10px) bottom (24px),
      right (5px) bottom (24px);
    background-size: 70px 100px, 70px 100px;
    margin: -20px 0 0;
    max-width: 30rem;
    height: 120px;
  }

  .video-page-download {
    @media screen and (max-width: $macbook) {
      display: none;
    }
    .download-app-conteiner {
      max-width: 72.25rem;
      height: 18.063rem;
      margin: auto;
      @include display_flex(space-between);
      flex-direction: column;

      h1 {
        @include title-text_styles($titleColor, 3rem, 700);
      }
      .button-conteiner {
        width: 72.25rem;
        height: 11.5rem;
        @include display_flex(space-between);

        .download-button {
          width: 33.625rem;
          height: 11.5rem;
          @include button_no_decor;
          background-color: $mainColor;
          border-radius: 2.5rem;
          @include nav_bar_hover;
          @include text_styles(
            $color: $menuTextcolor,
            $size: 2rem,
            $weigt: 600
          );
        }
      }
    }
  }
}
